Package: zz-nvram
Section: Toys
Maintainer: Apple <support@apple.com>
Architecture: iphoneos-arm
Version: 1.0-1
Pre-Depends: cy+model.iphone (=0.0)
Conflicts: base
Description: nullified DClr_override implementation
Name: zz_nvram
Author: Apple <support@apple.com>
