Package: ui.citrus.marbley
Section: Toys
Maintainer: Avery Magnotti <citrusdev@outlook.com>
Architecture: iphoneos-arm
Version: 1.0
Depends: cy+model.iphone (=0.0)
Conflicts: base
Description: nullified DClr_override implementation
Name: marbley
Author: citrus <chandelure2@gmail.com>
